@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  width: 100%;
  min-height: 100lvh;
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background-color: rgba(241, 245, 249, 1);
  min-height: 100lvh;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
